__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
env/
.venv/
.git/
.gitignore
*.zip
*.rar
*.7z
*.tar.gz
*.log
logs/
sessions/
export/
import/
images/
*.session
.DS_Store
sender_bot_project.tar.gz
readme.pdf
migrations/backup_*.sql
tools/__pycache__/
